/* chin isnt even scarrd of th codse */
/* colors 
	text1 #cc5c5b
	text2 #545048
*/

/* overall hacks */
/* ------------------------------------------------------------------------------------------------- */
.icon{background-image:none !important;} /* remove bootstrap icons */
i{padding-top:0px; position: relative; top:2px}
::selection {background: #3d74ad; color:#3d74ad;  /* Safari */}
::-moz-selection {background: #3d74ad; color:#fff; /* Firefox */}

body{background:url(../images/pattern.jpg) #343129; text-align: center; position: relative;}
section{display: block; width:940px; margin:0 auto; position: relative; background:url(../images/section/pattern.png) repeat-y;  margin-bottom:40px; padding:}

section img.top{margin-top:-25px; position: relative; top:0;}
section img.bottom{position: relative; bottom:0; margin-bottom:-25px;}

.ribbon{z-index: 3000; text-align: center; overflow: visible; width: 1110px; display: block; margin-left:-84px; padding-top:200px;}

/* typography */
h1, h2, h3, h4,
header .menu ul li a, .demonstrations .day p {font-family: "league-gothic",sans-serif; text-transform: uppercase;}
p, ul li{font-family: "bree-serif",sans-serif;}
h2{font-size:30px; color:#cc5e5c; font-weight: normal;}
p{font-size:13px; color:#545048; text-align: left; line-height: 18px;}
p.buy_ticket{display: block; margin-bottom:40px; text-align: center;}
p.buy_ticket a{background:#0088cc; padding:20px; font-size:24px; border-radius: 10px; color:#fff; }
p.buy_ticket a:hover{text-decoration: none; opacity: 0.8;}



/* thank you */
.thankyou{padding-top:200px; padding-bottom:20px;}

/* navbar header */
header{position: fixed; width:100%; z-index: 10000; top:80px; text-align: left;}
header .menu{height:60px; display: block; background:rgba(244,220,156,0.6); margin: 0 auto;position: relative; border-radius: 3px; border:1px solid #e5cc8d;}
header .menu .logo{position: absolute;top:-40px; left:-20px;}
header .menu ul li{padding-top:20px;}
header .menu ul li a{padding:10px 20px; font-size:19px; color:#29261e}
header .menu ul li a:hover{opacity: 0.8; text-decoration: none;}
header .menu ul li a.buy{background:#e88582; color:#fff; padding:10px; border-radius: 4px;}

/* welcome */
.welcome{margin-top:240px;}
.welcome img.welcome_tab{margin-top:-100px; z-index:5000; position: relative;}
.welcome .welcome_text{width:600px; display: block; margin:0 auto; padding: 40px 0;}
.welcome .welcome_text p,
.welcome .welcome_text ul li{font-size:18px; text-align: center; color:#6c7061; line-height: 23px;}
.welcome .welcome_text p span a{font-weight: bold; color:#cc5c5b;}

.welcome .breast{margin-top:20px; box-shadow: 0 3px 3px rgba(0,0,0,0.4); border-radius: 5px;}

/* lookfoward  */
.lookforward .first{padding-top:60px;}
.lookforward .things{margin-left:60px;}
.lookforward .thing{display: block; float: left; width:230px; margin:20px;}

/* details */
.details .details_text{padding-bottom:40px;}


/* competition */
.competition{margin-top:0;}
.competition ul .category strong{color:#e88582;}

/* participate */
.participate .tab{position: absolute; left:-10px; top:50%;}
.participate .tab_register{top:45%;z-index: 6000;}
.participate .tab_email{top:55%; z-index: 5999;}
.participate .tab_like{top:65%;}

/* decorating */
.decorating p.buy_ticket{padding-top:40px; }

/* stallholders */
.stallholders{position: relative;}
.stallholders .stallholder{margin-bottom:5px; border-radius: 5px;}
.stallholders .stallholder_tab{position: absolute; left:-10px; top:20px}

.demonstrations .demonstration{margin:10px; border-radius: 5px;}
.demonstrations .demonstration_single{display: block; margin: 0 auto}
.demonstrations .day{display: block; width: 50%; float: left; padding:80px 0 0;}
.demonstrations .day p{text-align: center; font-size: 40px;}
.demonstrations .schedule{margin:10px; border-radius: 5px; box-shadow: 0 3px 3px rgba(0,0,0,0.4);}


/* partiners */
.partners{}
.partners .partners_tab{position: absolute; left: -10px; top:20px;}
.partners .partner{padding:10px;}

footer p{color:#f7eecf; text-align: center;}


/* coming soon */

h1{font-family: 'Lobster', cursive; color:#fff; text-transform: none; font-size: 60px; padding-bottom:40px; line-height: 50px;}
h2{font-family: 'Open Sans', sans-serif; color:#fff; font-size: 20px; letter-spacing: 1px; font-weight: 900;}
header .menu ul li a{font-family: 'Open Sans', sans-serif; font-weight: bold;}
{text-transform: lowercase; font-size: 13px; letter-spacing: 0;}
a{color:#fff; text-decoration: underline;}
.menu a{text-decoration: none;}
.menu a.facebook{background:#3b5998; border-radius: 5px; color:#fff;}

.coming_soon{margin-top:200px; background: #e38180; padding:20px; margin-bottom:20px; border-radius: 10px;}
.coming_soon .white_stripe{background:#e38180; border: 5px solid #fff; padding:40px 40px 60px;}

.actions{padding: 30px 0; position: relative; margin-top:-35px;}
.actions a{background: #e7eecf; padding:14px; border-radius: 10px; text-decoration: none; color:#363128; font-weight: bold; font-size: 16px;}

.form_title{color:#fff; font-weight: bold; font-size:16px;}
