/* chin isnt even scarrd of th codse */

/* colors 
	text1 #cc5c5b
	text2 #545048
*/

/* overall hacks */
/* ------------------------------------------------------------------------------------------------- */
.icon{background-image:none !important;} /* remove bootstrap icons */
i{padding-top:0px; position: relative; top:2px}
::selection {background: #3d74ad; color:#3d74ad;  /* Safari */}
::-moz-selection {background: #3d74ad; color:#fff; /* Firefox */}

body{background:url(../images/pattern.jpg) #343129; text-align: center; position: relative;}
section{display: block; width:940px; margin:0 auto; position: relative; background:url(../images/section/pattern.png) repeat-y;  margin-bottom:40px; padding:}

section img.top{margin-top:-25px; position: relative; top:0;}
section img.bottom{position: relative; bottom:0; margin-bottom:-25px;}

.ribbon{z-index: 3000; text-align: center; overflow: visible; width: 1110px; display: block; margin-left:-84px; padding-top:200px;}


/* typography */
h1, h2, h3, h4,
header .menu ul li a {font-family: "league-gothic",sans-serif; text-transform: uppercase;}
p{font-family: "bree-serif",sans-serif;}
h2{font-size:30px; color:#cc5e5c; font-weight: normal;}
p{font-size:13px; color:#545048; text-align: left; line-height: 18px;}


/* navbar header */
header{position: fixed; width:100%; z-index: 10000; top:80px; text-align: left;}
header .menu{width:940px; height:60px; display: block; background:rgba(244,220,156,0.6); margin: 0 auto;position: relative; border-radius: 3px; border:1px solid #dbb655;}
header .menu .logo{position: absolute;top:-40px; left:-20px;}
header .menu ul li{padding-top:20px;}
header .menu ul li a{padding:10px 20px; font-size:22px; color:#29261e}
header .menu ul li a:hover{opacity: 0.8; text-decoration: none;}

/* welcome */
.welcome{margin-top:240px;}
.welcome img.welcome_tab{margin-top:-100px; z-index:5000; position: relative;}
.welcome .welcome_text{width:600px; display: block; margin:0 auto; padding: 40px 0;}
.welcome .welcome_text p{font-size:18px; text-align: center; color:#6c7061; line-height: 23px;}
.welcome .welcome_text p span a{font-weight: bold; color:#cc5c5b;}
/* lookfoward  */
.lookforward .first{padding-top:60px;}
.lookforward .things{margin-left:60px;}
.lookforward .thing{display: block; float: left; width:230px; margin:20px;}

/* details */
.details .details_text{padding-bottom:40px;}

/* participate */
.participate .tab{position: absolute; left:-10px; top:50%;}
.participate .tab_register{top:45%;z-index: 6000;}
.participate .tab_email{top:55%; z-index: 5999;}
.participate .tab_like{top:65%;}

/* partiners */
.partners{}
.partners .partners_tab{position: absolute; left: -10px; top:20px;}
.partners .partner{padding:50px 30px;}

footer p{color:#f7eecf; text-align: center;}